In [3]:
print("hello world")

hello world

### data types
#### int

In [4]:
a = 100

In [5]:
print(a)

100

In [6]:
print(type(a))

<class 'int'>

In [11]:
my_var_1 = 200

In [12]:
print(my_var_1)

200

In [13]:
print(type(my_var_1))

<class 'int'>

#### float

In [7]:
b = 100.5

In [8]:
print(b)

100.5

In [9]:
print(type(b))

<class 'float'>

##string

In [14]:
str = "harish"

In [15]:
print(str)

harish

### Boolean

In [16]:
a = 10

In [17]:
b = 20

In [18]:
c = a > b

In [19]:
print(c)

False

In [20]:
print(type(c))

<class 'bool'>

In [21]:
100 > 50

True

In [22]:
100 == 100

True

In [23]:
100 == 50

False

### list

In [24]:
my_list = [1, 2, 3, 1]

In [25]:
print(my_list)

[1, 2, 3, 1]

In [26]:
print(type(my_list))

<class 'list'>

In [27]:
len(my_list)

4

In [28]:
my_list[0]

1

In [29]:
my_list[3]

1

In [36]:
my_list.append(100)

In [30]:
my_list[0] = 100

In [37]:
print(my_list)

[100, 2, 3, 1, 100]

In [31]:
print(my_list)

[100, 2, 3, 1]

In [39]:
my_list = ['harish', 'peetani', 2017, 2018]

In [40]:
print(my_list)

['harish', 'peetani', 2017, 2018]

In [41]:
print(type(my_list))

<class 'list'>

In [46]:
my_list.append('harry')

In [47]:
print(my_list)

['harish', 'peetani', 2017, 2018, 'harry', 'harry', 'harry']

In [49]:
my_list.count('harry')

3

In [52]:
my_list.index(2018)

3

In [55]:
my_list.pop(6)

'harry'

In [56]:
print(my_list)

['harish', 'peetani', 2017, 2018, 'harry', 'harry']

In [57]:
my_list.insert(6,'potter')

In [61]:
print(my_list)

['harish', 'peetani', 2017, 2018, 'harry', 'harry', 'pootter']

In [13]:
my_list = [4,5,6,[1,2,3,['circle', 'round']]]

In [14]:
my_list

[4, 5, 6, [1, 2, 3, ['circle', 'round']]]

In [20]:
my_list[3]

[1, 2, 3, ['circle', 'round']]

In [34]:
my_list[0:3]

[4, 5, 6]

In [40]:
my_list[1:2]

[5]

In [44]:
my_list[3][3][1]

'round'

In [47]:
my_list[3][3][1][4]

'd'

In [23]:
my_list[3][3]

['circle', 'round']

In [24]:
my_list[3][3]

'round'

In [26]:
my_list[3][3][0]

'circle'

In [27]:
my_list[3][3][0][1]

'i'

In [28]:
my_list[3][3][0][4]

'l'

In [53]:
my_list2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, [10, 11, 12]]

In [62]:
my_list2[3:6] = 20, 30, 40

In [64]:
my_list2

[1, 2, 3, 20, 30, 40, 7, 8, 9, [10, 11, 12]]

In [67]:
my_list2[9]

[10, 11, 12]

In [68]:
my_list2[9][0]

10

In [69]:
my_list2[9][1] = 13

In [70]:
my_list2

[1, 2, 3, 20, 30, 40, 7, 8, 9, [10, 13, 12]]

## tuple

In [71]:
t1 = (1, 2, 3)

In [ ]:
t1[1] = 100

In [73]:
l1 = list(t1)

In [74]:
l1[1] = 100

In [75]:
l1

[1, 100, 3]

In [1]:
my_list = ['harish', 'john', 200, 100]

In [2]:
my_list

['harish', 'john', 200, 100]

In [14]:
my_list[3] = 300

In [15]:
my_list

['harish', 'john', 200, 300]

In [3]:
my_tuple = ('harish','john', 200, 100)

In [4]:
my_tuple

('harish', 'john', 200, 100)

In [5]:
my_set = {'harish','john', 200, 100}

In [6]:
my_set

{200, 'john', 100, 'harish'}

In [11]:
my_dict = {'name':'harish', 'friend':'john', 1:200, 2:100}

In [12]:
my_dict

{'name': 'harish', 'friend': 'john', 1: 200, 2: 100}

### set

In [76]:
s1 = {100, 200, 300, 400, 500}

In [77]:
s1

{100, 200, 300, 400, 500}

In [79]:
l1 = list(s1)

In [80]:
l1

[100, 200, 300, 400, 500]

### dictionary

In [82]:
d1 = {'Data' : 'Science', 'course' : 'Bigdata', 'number' : 1234, 6:1, 6:2, 6:3}

In [83]:
d1

{'Data': 'Science', 'course': 'Bigdata', 'number': 1234, 6: 3}

In [84]:
d1.update({'Data' : 'SQL'})

In [85]:
d1

{'Data': 'SQL', 'course': 'Bigdata', 'number': 1234, 6: 3}